.higher_shadow_bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 588;
  display: none;
}

.higher_shadow_bg.active {
  opacity: 0.6;
  transition: opacity .3s ease;
  display: block;
}

.higher_opacity_shadow_bg {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 588;
  display: none;
}

.higher_opacity_shadow_bg.active {
  opacity: 0.8;
  transition: opacity .3s ease;
  display: block;
}

.js-share-label {
  width: 10.816rem;
  height: 4.608rem;
  position: fixed;
  right: 0.91733rem;
  top: 0.53333rem;
  background: url("../images/share/share-label.png") center center no-repeat;
  background-size: 100%;
  z-index: 589;
  display: none;
}

.flex-bottom {
  width: 100%;
  height: 11.30667rem;
  background: #f5f5f5;
  position: fixed;
  bottom: -11.30667rem;
  left: 0;
  z-index: 589;
  padding-top: 0.85333rem;
  -webkit-transition: bottom .5s ease;
  -moz-transition: bottom .5s ease;
  transition: bottom .5s ease;
}

.flex-bottom.active {
  bottom: 0;
}

.flex-bottom .title {
  font-size: 0.64rem;
  color: #333;
  line-height: 1.45067rem;
  text-align: center;
  font-weight: bold;
}

.flex-bottom .title .mark-red {
  color: #ff7919;
  font-weight: normal;
}

.flex-bottom .desc {
  font-size: 0.512rem;
  color: #999;
  text-align: center;
  line-height: 0.91733rem;
}

.flex-bottom .share-operate-wrap {
  padding: 0.85333rem 1.06667rem 0px;
  overflow: hidden;
}

.flex-bottom .share-operate-wrap .item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: left;
  margin-right: 1.06667rem;
}

.flex-bottom .share-operate-wrap .item:last-child {
  margin-right: 0;
}

.flex-bottom .share-operate-wrap .item .icon-box {
  width: 2.56rem;
  height: 2.56rem;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-bottom .share-operate-wrap .item .icon-box .wechat-icon {
  width: 1.10933rem;
}

.flex-bottom .share-operate-wrap .item .icon-box .friend-icon {
  width: 0.98133rem;
}

.flex-bottom .share-operate-wrap .item .icon-box .qrcode-icon {
  width: 0.896rem;
}

.flex-bottom .share-operate-wrap .item .icon-box .poster-qrcode-icon {
  width: 0.87467rem;
}

.flex-bottom .share-operate-wrap .item .share-way-txt {
  font-size: 0.512rem;
  color: #333;
  line-height: 0.512rem;
  margin-top: 0.512rem;
}

.flex-bottom .cancel-btn {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2.13333rem;
  line-height: 2.13333rem;
  text-align: center;
  background-color: #fff;
  font-size: 0.68267rem;
  color: #212121;
}

.details_module {
  width: 12.8rem;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 589;
  display: none;
}

.details_module .title {
  height: 1.92rem;
  background: #fafafa;
  line-height: 1.92rem;
  text-align: center;
  position: relative;
  font-size: 0.72533rem;
  color: #333;
}

.details_module .title .icon-remove {
  width: 1.792rem;
  height: 1.92rem;
  line-height: 1.92rem;
  font-size: 0.55467rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  text-align: center;
}

.details_module .table_wrap {
  padding: 0.72533rem 0.74667rem 0.85333rem;
  overflow-y: auto;
}

.details_module .table_wrap .table_info {
  display: table;
  width: 100%;
}

.details_module .table_wrap .table_info thead tr th {
  text-align: left;
  font-size: 0.59733rem;
  color: #646464;
  line-height: 0.59733rem;
  padding-bottom: 0.81067rem;
}

.details_module .table_wrap tbody tr td {
  font-size: 0.59733rem;
  line-height: 0.59733rem;
  color: #333;
  padding-bottom: 0.68267rem;
}

.details_module .table_wrap tbody tr:last-child td {
  padding-bottom: 0px;
}

.details_module .total {
  height: 1.96267rem;
  background: #fafafa;
  text-align: center;
  line-height: 1.96267rem;
  font-size: 0.512rem;
  color: #ff5d42;
  border-top: 1px solid #ebebeb;
}

.details_module .total .money_numb {
  font-size: 0.72533rem;
}

.share_qrcode_module {
  position: fixed;
  left: 50%;
  top: 5.29067rem;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 599;
  display: none;
}

.share_qrcode_module .wrap {
  position: relative;
  width: 11.05067rem;
  height: 11.17867rem;
  background: #fff;
  border-radius: 0.21333rem;
  border: 1px solid #9c9c9c;
}

.share_qrcode_module .wrap .qrcode-wrap {
  padding: 0.64rem;
}

.share_qrcode_module .wrap .qrcode-wrap > img {
  width: 100%;
  height: 100%;
}

.share_qrcode_module .wrap .qrcode {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 8.61867rem;
}

.share_qrcode_module .wrap .icon-remove {
  font-size: 0.29867rem;
  color: #333;
  position: absolute;
  top: -0.29867rem;
  right: -0.29867rem;
  display: inline-block;
  width: 1.06667rem;
  height: 1.06667rem;
  border-radius: 50%;
  background: #fff;
  text-align: center;
  line-height: 1.06667rem;
}

.share_qrcode_module .tips {
  font-size: 0.59733rem;
  color: #fff;
  text-align: center;
  line-height: 0.59733rem;
  margin-top: 1.06667rem;
}

.share_qrcode_module .tips .long_spress {
  width: 0.53333rem;
  margin-right: 0.34133rem;
  margin-bottom: -0.04267rem;
}

.poster_qrcode_module {
  position: fixed;
  left: 50%;
  top: 1.10933rem;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  z-index: 599;
  display: none;
}

.poster_qrcode_module .icon-remove {
  position: absolute;
  right: -0.32rem;
  top: -0.32rem;
  display: inline-block;
  width: 1.06667rem;
  height: 1.06667rem;
  border-radius: 50%;
  background: #fff;
  font-size: 0.29867rem;
  color: #333;
  text-align: center;
  line-height: 1.06667rem;
  z-index: 4;
}

.poster_qrcode_module .wrap {
  width: 13.48267rem;
  height: 19.66933rem;
  border-radius: 0.21333rem;
  position: relative;
  background: #fffffe;
  padding: 0.21333rem 0.21333rem 0;
}

.poster_qrcode_module .wrap .pic_con {
  height: 10.496rem;
  overflow: hidden;
  position: relative;
  border-top-left-radius: 0.21333rem;
  border-top-right-radius: 0.21333rem;
}

.poster_qrcode_module .wrap .pic_con .blur_img {
  width: 14.50667rem;
  height: 10.496rem;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 16rem;
  -webkit-filter: brightness(30%);
  -moz-filter: brightness(30%);
  -ms-filter: brightness(30%);
  filter: brightness(30%);
  -webkit-filter: blur(0.42667rem);
  filter: blur(0.42667rem);
  position: absolute;
  top: -0.42667rem;
  left: -0.72533rem;
}

.poster_qrcode_module .wrap .pic_con .poster_pic {
  position: absolute;
  top: 0.64rem;
  width: 5.97333rem;
  height: 7.936rem;
  border-radius: 0.21333rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #000;
  overflow: hidden;
  -webkit-box-shadow: 0px 0.21333rem 0.10667rem 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0.21333rem 0.10667rem 0px rgba(0, 0, 0, 0.2);
  z-index: 9;
}

.poster_qrcode_module .wrap .pic_con .poster_pic .pic {
  width: 100%;
}

.poster_qrcode_module .wrap .linear_bg {
  width: 100%;
  height: 3.62667rem;
  position: absolute;
  left: 0;
  top: 7.12533rem;
  background: -webkit-linear-gradient(bottom, white, rgba(81, 62, 53, 0));
  background: linear-gradient(bottom, white, rgba(81, 62, 53, 0));
  z-index: 4;
}

.poster_qrcode_module .wrap .poster_title {
  position: relative;
  z-index: 10;
  font-size: 0.59733rem;
  line-height: 0.81067rem;
  color: #000;
  width: 10.45333rem;
  text-align: center;
  margin: -1.152rem auto 0px;
  font-weight: bold;
}

.poster_qrcode_module .wrap .posi,
.poster_qrcode_module .wrap .date {
  font-size: 0.512rem;
  line-height: 0.512rem;
  color: #999;
  text-align: center;
  margin-top: 0.42667rem;
}

.poster_qrcode_module .wrap .date {
  margin-top: 0.32rem;
}

.poster_qrcode_module .wrap .poster-qrcode-wrap {
  display: block;
  width: 5.184rem;
  margin: 0.576rem auto 0;
}

.poster_qrcode_module .wrap .poster-qrcode-wrap > img {
  width: 100%;
  height: 100%;
}

.poster_qrcode_module .wrap .poster-qrcode {
  display: none;
}

.poster_qrcode_module .tips {
  font-size: 0.59733rem;
  color: #fff;
  text-align: center;
  line-height: 0.59733rem;
  margin-top: 1.06667rem;
}

.poster_qrcode_module .tips .long_spress {
  width: 0.53333rem;
  margin-right: 0.34133rem;
  margin-bottom: -0.04267rem;
}

.share-btn {
  width: 6.4rem;
  height: 1.28rem;
  margin: 0 auto;
  line-height: 1.28rem;
  background: #ff7919;
  color: #fff;
  margin: 4.26667rem auto;
  text-align: center;
  border-radius: 0.17067rem;
}
